* {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#previousOperand {
  font-size: 1.5rem;
  color: rgb(159, 159, 159);
  text-align: right;
  height: 50px;
}

.calculator input{
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 2.5rem;
  font-weight: bolder;
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  caret-color: #00a0ff;
}

.button-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.button button{
  background: #3b3b3b;
  border: none;
  border-radius: 50%;
  padding: 10px;
  height: 60px;
  width: 60px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button:hover{
  background: #575757;
}

#equalBtn{
  background: #47ade7;
}
#equalBtn:hover{
  background: #0075a0;
}